{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "snippets/nav.html"%}



<div class="edgtf-container edgtf-default-page-template">
<div class="edgtf-container-inner clearfix">
<div class="edgtf-grid-row">
<div class="edgtf-page-content-holder edgtf-grid-col-12">
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768  "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-7309">
<div class="edgtf-eh-item-inner">
<div class="edgtf-eh-item-content edgtf-eh-custom-7309" style="padding: 200px 40% 300px 12%" >
<div class="woocommerce">
<h2>Nemůžeš obchodovat sám se sebou!!</h2>
</div>
</div>
</div>
</div>
</div>
</div>





{% include "snippets/script.html" %}

{% endblock %}