{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "snippets/nav.html"%}

<a id='edgtf-back-to-top' href='#'>
                <span class="edgtf-icon-stack">
                                     </span>
</a>

<div class="edgtf-content">
    <div class="edgtf-content-inner">
        <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-header-bottom edgtf-preload-background edgtf-has-bg-image edgtf-bg-parallax"
             style="height: 430px;background-image:url({% static 'personal/img/tnf.jpg' %});" data-height="430">
            <div class="edgtf-title-image">
                <img itemprop="image" src="{% static 'personal/img/test4.jpg' %}" alt="m"/>
            </div>
            <div class="edgtf-title-wrapper" style="height: 430px">
                <div class="edgtf-title-inner">
                    <div class="edgtf-grid">
                        <h1 class="edgtf-page-title entry-title" style="color: #ffffff">o nás</h1>
                    </div>
                </div>
            </div>
        </div>


        <br><br><br>
        <div class="edgtf-row-grid-section-wrapper ">
            <div class="edgtf-row-grid-section">

                <div class="edgtf-row-grid-section-wrapper ">
            <div class="edgtf-row-grid-section">
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1519132531861">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="edgtf-testimonials-holder clearfix">
                                    <div class="edgtf-testimonials edgtf-owl-slider" data-number-of-items="1"
                                         data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000"
                                         data-slider-speed-animation="600" data-enable-navigation="yes"
                                         data-enable-pagination="no">
                                        <div class="edgtf-testimonial-content" id="edgtf-testimonials-4453">
                                            <div class="edgtf-testimonial-text-holder">
                                                <h2 itemprop="name" class="edgtf-testimonial-title entry-title">Jeden za všechny</h2>
                                                <p class="edgtf-testimonial-text">Ve skutečnosti by se tenhle blok měl jmenovat o mně. Momentálně jsem na to sám. S nápadem jsme přišli s kamáradem, ten však musel odstoupit. S pomocí lidí kolem sebe jsem nápad dotáhl až sem a veřím, že jsme teprve na začátku.</p>
                                                <h4 class="edgtf-testimonial-author">
                                                    Jakub Šamánek </h4>
                                                <p class="edgtf-testimonials-author-job">vlastník</p>
                                            </div>
                                        </div>
                                        <div class="edgtf-testimonial-content" id="edgtf-testimonials-4450">
                                            <div class="edgtf-testimonial-text-holder">
                                                <h2 itemprop="name" class="edgtf-testimonial-title entry-title">Inspirace</h2>
                                                <p class="edgtf-testimonial-text">Nemáme proč schovávat, že jsme se inspirovali na mnoha místech. Zprvu to byl Streetchange - facebooková skupina, která slouží pro téměř stejné učely jako Streetplace. Taky jsme samozřejmě mnoho odkoukali od velikánů jako je Grailed, protože to je vskutku masterpiece.</p>
                                                <h4 class="edgtf-testimonial-author">
                                                    Jakub Šamánek </h4>
                                                <p class="edgtf-testimonials-author-job">vlastník</p>
                                            </div>
                                        </div>
                                        <div class="edgtf-testimonial-content" id="edgtf-testimonials-4450">
                                            <div class="edgtf-testimonial-text-holder">
                                                <h2 itemprop="name" class="edgtf-testimonial-title entry-title">Nápad</h2>
                                                <p class="edgtf-testimonial-text">Nápad zazněl poprvé už před více než dvěma lety. Byli jsme zrovna v Rakousku se školou a dlouhé minuty na lanovce jsme s kamarádem strávili nadhazováním nápadů, které by nám mohly zajistit úspěch. Oba jsme se neschovávali lásku k oblečení a především botám, proto se nápady hodně točily okolo resellu. Moc dobře jsme věděli, že zatím jediná možnost resellovat v ČR/SK byl právě zmiňovaný Streetchange a že to není ideální možnost. Facebook pro takové učely není dělaný a chyběla mu mnoho potřebných funkcí. Tam se poprvé objevil nápad českého online resell marketu. Teprve několik měsíců zpátky, kdy jsem byl ponořen do programování, vstal nápad z mrtvých a započala hromada práce, ze které jsme se vyšplhali až sem. </p>
                                                <h4 class="edgtf-testimonial-author">
                                                    Jakub Šamánek </h4>
                                                <p class="edgtf-testimonials-author-job">vlastník</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            </div>
        </div>


    </div>
</div>{% include "snippets/footer.html" %}
</div>
</div>
</div>
</div>
<br><br><br>

</div>
</div> <!-- close div.edgtf-wrapper-inner  -->
</div> <!-- close div.edgtf-wrapper -->
{% include "snippets/script.html" %}


{% endblock %}

