<!-- Tento html soubor rozšiřuji ostatními. -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">

<head>
    <link rel="icon" href="{% static 'personal/img/trade.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreetPlace</title>
    {% include "snippets/css.html" %}
</head>

<body style="background-color:#fff">
<div class="wrapper">
    {% include "snippets/nav.html" %}

<div class="content">
<center>
    {% block content %}
    {% endblock %}
</center>
</div>


    <div class="push"></div>
</div>

{% include "snippets/footer.html" %}


{% include "snippets/js.html" %}
{% block extra_js %}{% endblock extra_js %}

</body>
</html>