{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "snippets/nav.html"%}


<a id='edgtf-back-to-top' href='#'>
                <span class="edgtf-icon-stack">
                                     </span>
            </a>

        <div class="edgtf-content" >
            <div class="edgtf-content-inner">
<div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-header-bottom edgtf-preload-background edgtf-has-bg-image edgtf-bg-parallax" style="height: 430px;background-image:url({% static 'personal/img/carousel3.jpg' %});" data-height="430">
            <div class="edgtf-title-image">
            <img itemprop="image" src="{% static 'personal/img/test4.jpg' %}" alt="m"/>
        </div>
        <div class="edgtf-title-wrapper" style="height: 430px">
        <div class="edgtf-title-inner">
            <div class="edgtf-grid">
                                <h1 class="edgtf-page-title entry-title" style="color: #ffffff">FAQ</h1>
                            </div>
</div>
</div>
</div>


    <div class="edgtf-container edgtf-default-page-template">

        <div class="edgtf-container-inner clearfix">
                                        <div class="edgtf-grid-row">
                    <div class="edgtf-page-content-holder edgtf-grid-col-9 edgtf-grid-col-push-3">
                        <div data-edgtf-anchor="branding" class="vc_row wpb_row vc_row-fluid vc_custom_1521041949280" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="edgtf-section-title-holder  " >
    <div class="edgtf-st-inner">
                    <h4 class="edgtf-st-title" style="color: #0d0d0d">
            1. Jak nakupovat?            </h4>


                    <h5 class="edgtf-st-text" style="color: #0d0d0d;font-size: 15px;line-height: 26px;font-weight: 300">
                Hned na začátku si musíme ujasnit jednu věc - StreetPlace je pouze zprostředkovatelem prodeje mezi lidmi, neumožňuje nakupovat přímo z webu. Nebojte, je to všechno velmi jednoduché. V sekci "nakupovat" se nachází veškeré zboží, přidané ostatními uživateli StreetPlace a je jen na Vás, aby jste si svobodně vybrali. Je možné filtrovat nabídku, hledat konkrétní zboží nebo si můžete najít vašeho oblíbeného prodejce pod "další" => "hledat uživatele". Pak stačí jen kontaktovat danou osobu a domluvit se na okolnostech prodeje. Nakonec, až proběhne obchod, ohodnoťte prosím uživatele na jeho profilu.
            </div>
</div><div class="vc_empty_space"   style="height: 68px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div data-edgtf-anchor="better" class="vc_row wpb_row vc_row-fluid" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="edgtf-section-title-holder  " >
    <div class="edgtf-st-inner">
                    <h4 class="edgtf-st-title" style="color: #0d0d0d">
            2. jak prodávat        </h4>


                    <h5 class="edgtf-st-text" style="color: #0d0d0d;font-size: 15px;line-height: 26px;font-weight: 300">
                Prodávat zde zvládne opravdu každý! Přes odkaz "prodávat" se dostanete k formuláři, kde stačí vyplnit všechny potřebné informace (kdykoliv je můžete upravit). Po potvrzení tohoto formuláře se Vaše zboží okamžitě objeví mezi ostatním a stačí jen počkat na hrnoucí se nabídky. Kontrolujte tedy příchozí zprávy a komunikujte s případnými kupci. Po úspěšném prodeji prosím smažte zboží a vyplňte krátký formulář, který se Vám při odebírání zboží objeví a ohodnoťte tak kupce.
            </div>
</div><div class="vc_empty_space"   style="height: 68px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div data-edgtf-anchor="marketing" class="vc_row wpb_row vc_row-fluid" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="edgtf-section-title-holder  " >
    <div class="edgtf-st-inner">
                    <h4 class="edgtf-st-title" style="color: #0d0d0d">
            3. Co z toho máme my?          </h4>


                    <h5 class="edgtf-st-text" style="color: #0d0d0d;font-size: 15px;line-height: 26px;font-weight: 300">
                Jak si můžete všimnout, užívání našich stránek je zcela zdarma. Celé to začlo za účelem rozšíření a zjednodušení resellu v ČR a na Slovensku a toho se striktně držíme. Do budoucna máme v plánu různé výhodné balíčky, ale užívání našich základních služeb je a bude zdarma. je to náš první projekt, proto bereme jako úspěch spokojenost alespoň malé skupiny lidí.
            </div>
</div><div class="vc_empty_space"   style="height: 68px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div data-edgtf-anchor="positioning" class="vc_row wpb_row vc_row-fluid" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="edgtf-section-title-holder  " >
    <div class="edgtf-st-inner">
                    <h4 class="edgtf-st-title" style="color: #0d0d0d">
            4. Co chceme od vás?           </h4>


                    <h5 class="edgtf-st-text" style="color: #0d0d0d;font-size: 15px;line-height: 26px;font-weight: 300">
                Nechceme od vás peníze, jen prosíme, abyste naše služby šířili dál a řídili se jednoduchými pravidly. Také hodnoťte uživatele, se kterými jste obchodovali - pomůžete tím ostatním i nám. Pokud se vyskytne jakýkoliv problém nebo máte nějakou připomínku, obraťte se na nás a my vám rádi pomůžeme. Zpětné vazby si ceníme nad zlato!
            </div>
</div><div class="vc_empty_space"   style="height: 68px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div><div data-edgtf-anchor="efficient" class="vc_row wpb_row vc_row-fluid vc_custom_1521041844442" ><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="edgtf-section-title-holder  " >
    <div class="edgtf-st-inner">
                    <h4 class="edgtf-st-title" style="color: #0d0d0d">
            5. jak předejít scamu?          </h4>


                    <h5 class="edgtf-st-text" style="color: #0d0d0d;font-size: 15px;line-height: 26px;font-weight: 300">
                Důvěřuj, ale prověřuj! Prohlídni si pořádně všechny fotky, pročti si popis zboží a neboj se prodávajícího ptát na otázky. Pokud za sebou uživatel nemá ještě mnoho obchodů, doporučujeme dohodnout osobní setkání, abyste si zboží sami prohlídli a vyvarovali se tak pokusům o podvod. Jistě se časem vymezí skupina důvěryhodných uživatelů, ale jsme teprve na začátku, proto opatrně!
            </div>
</div><div class="vc_empty_space"   style="height: 68px" ><span class="vc_empty_space_inner"></span></div>
</div></div></div></div>
	                    </div>
                                            <div class="edgtf-sidebar-holder edgtf-grid-col-3 edgtf-grid-col-pull-9">
                            <aside class="edgtf-sidebar">
    <div class="widget widget_text">			<div class="textwidget"><p><a class="edgtf-anchor" href="#branding">jak nakupovat</a></p>
<p><a class="edgtf-anchor" href="#better">jak prodávat</a></p>
<p><a class="edgtf-anchor" href="#marketing">co z toho máme my</a></p>
<p><a class="edgtf-anchor" href="#positioning">co chceme od vás</a></p>
<p><a class="edgtf-anchor" href="#efficient">jak předejít scamu</a></p>
</div>
		</div></aside>                        </div>
                                    </div>
                                </div>

            </div>

</div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->
    {% include "snippets/footer.html" %}
</div> <!-- close div.edgtf-wrapper-inner  -->
</div> <!-- close div.edgtf-wrapper -->
<div class="rbt-toolbar" data-theme="Hyperon" data-featured="" data-button-position="55%" data-button-horizontal="right" data-button-alt="no" ></div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T772QJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="yith-quick-view-modal">

	<div class="yith-quick-view-overlay"></div>

	<div class="yith-wcqv-wrapper">

		<div class="yith-wcqv-main">

			<div class="yith-wcqv-head">
				<a href="#" id="yith-quick-view-close" class="yith-wcqv-close">X</a>
			</div>

			<div id="yith-quick-view-content" class="woocommerce single-product"></div>

		</div>

	</div>

</div>


{% include "snippets/script.html" %}
{% endblock %}