<!-- Tento html soubor rozšiřuji ostatními. -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    {% include "snippets/css.html" %}
</head>

<body style="background-color:#fff">
<div class="wrapper">
    {% include "snippets/nav.html" %}

<center>
    {% block content %}
    {% endblock %}
</center>



    <div class="push"></div>
</div>

    {% include "snippets/footer.html" %}


    {% include "snippets/js.html" %}
</body>
</html>