{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "snippets/nav.html"%}

{% if user.is_authenticated %}

<div class="edgtf-container edgtf-default-page-template">
<div class="edgtf-container-inner clearfix">
<div class="edgtf-grid-row">
<div class="edgtf-page-content-holder edgtf-grid-col-12">
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768  "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-7309">
<div class="edgtf-eh-item-inner">
<div class="edgtf-eh-item-content edgtf-eh-custom-7309" style="padding: 200px 40% 300px 12%" >
<div class="woocommerce">
<h2>Už jsi přihlášen...</h2>
</div>
</div>
</div>
</div>
</div>
</div>

{% else %}


<div class="edgtf-container edgtf-default-page-template">
<div class="edgtf-container-inner clearfix">
<div class="edgtf-grid-row">
<div class="edgtf-page-content-holder edgtf-grid-col-12">
<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768  "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-7309">
<div class="edgtf-eh-item-inner">
<div class="edgtf-eh-item-content edgtf-eh-custom-7309" style="padding: 100px 12% 100px 12%">
<div class="woocommerce">
    <div class="edgtf-tabs  edgtf-tabs-standard">
<ul class="edgtf-tabs-nav clearfix" style="display:inline;">
<li>
<a href="#">Změna hesla</a>
</li>
</ul>
<div class="edgtf-tab-container" id="tab-services-315">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
</div>
</div>
<form class="woocommerce-form woocommerce-form-login login" method="post">{% csrf_token %}
<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
<label for="password">Nové heslo:<span class="required">*</span></label>
<input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password1" id="password1" value="" /> </p>
<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
<label for="password2">Potvrzení hesla: <span class="required">*</span></label>
<input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password2" id="password2" />
</p>
<p class="form-row">
<input type="hidden" id="username" name="username" value="{{username}}" /><input type="hidden" name="_wp_http_referer" value="/my-account/" /> <button type="submit" class="woocommerce-Button button" name="login" value="Login">změnit heslo</button>
<label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
</label>
</p>

</form>
</div> </div>
</div>
</div></div></div></div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endif %}



{% include "snippets/script.html" %}

{% endblock %}