{% extends "base.html" %}

{% block content %}
<br><br>
<h1> Add object</h1>

{% if form.errors %}
{{ form.errors}}
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="text" name="name" placeholder="Název" required="required"></p>
    <p><input type="number" name="price" placeholder="Cena"></p>

    <p><select name="category">
        <option value="Boty">Boty</option>
        <option value="Triko">Triko</option>
        <option value="Mikina">Mikina</option>
        <option value="Kalhoty">Kalhoty</option>
    </select></p>

    <p style="margin-left:50px"> <input type="file" name="image" id="image"> </p>

    <p><button type="submit">Save</button></p>
</form>

</form>

{% endblock content %}