		<footer class="footer-distributed">
            <hr>
			<div class="footer-right">

				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fas fa-envelope"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="/about/">O nás</a>
					·
					<a href="/contact/">Kontakt</a>
					·
					<a href="/faq/">FAQ</a>
					·
					<a href="/terms/">Terms</a>
				</p>

				<p>StreetPlace &copy; 2019</p>
			</div>

		</footer>