aside.edgtf-sidebar {
    position: relative;
    z-index: 11;
    margin: 0 0 60px;
}

.wpb_widgetised_column {
    position: relative;
}

aside.edgtf-sidebar,
.wpb_widgetised_column {
    // widgets spacing
    $widget-bottom-margin: 60px;

    // list items dimensions
    $widget-list-item-height: 20px;
    $widget-list-item-padding: 5px;

    // list items color
    $widget-list-item-background-color: #999999;

    // list items border
    $widget-list-item-border-color: $default-border-color;
    $widget-list-item-border-width: 1px;
    $widget-list-item-border-style: solid;

    // text
    $widget-text-color: $default-text-color;
    $widget-heading-color: $default-heading-color;

    // links
    $widget-link-color: $default-text-color;
    $widget-link-hover-color: $first-main-color;

    // specific widgets
    $widget-search-form-height: 52px;
    $widget-tag-cloud-height: 20px;

    @import 'default-wp-widgets/default-wordpress-widgets';

    .widget {
        &.widget_nav_menu {
            $sub-margin: 15px;

            .sub-menu {
                display: none;
                margin: $sub-margin 0 #{$sub-margin - $widget-list-item-padding} 0;
                padding: 0;
            }

            .current-menu-ancestor > .sub-menu,
            .current-menu-parent > .sub-menu {
                display: block;
            }

            .menu {
                > li {
                    border-bottom: 2px solid $default-border-color;
                    padding: 15px 0;
                }

                li {
                    &.menu-item-has-children {
                        > a:after {
                            display: block;
                            font-family: 'Ionicons';
                            content: '\f489';
                            float: right;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}