{% load staticfiles %}
<!-- <link rel="stylesheet" href="{% static 'personal/css/filters.css' %}" >

<link rel="stylesheet" href="{% static 'personal/css/bootstrap.css' %}" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'personal/css/my.css' %}" >
<link rel="stylesheet" href="{% static 'personal/css/django_private_chat.css' %}" >
<link rel="stylesheet" href="{% static 'personal/css/sweetalert2.css' %}" >



-->











