<footer class="edgtf-page-footer">
        <div class="edgtf-footer-top-holder">
    <div class="edgtf-footer-top-inner edgtf-grid">
        <div class="edgtf-grid-row edgtf-footer-top-alignment-right">
                            <div class="edgtf-column-content edgtf-grid-col-6">
                            <div class="widget edgtf-horizontal-menu-widget " style="color:#ffffff;font-weight:500">
                        <ul id="menu-footer-menu" class="menu"><li id="menu-item-4601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4601"><a href="/about/">o nás</a></li>
<li id="menu-item-4600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4600"><a href="/kontakt/">kontakt</a></li>
<li id="menu-item-4603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4603"><a href="/faq/">faq</a></li>
</ul>        </div>
                        </div>
                            <div class="edgtf-column-content edgtf-grid-col-6">
                    <div id="custom_html-2" class="widget_text widget edgtf-footer-column-2 widget_custom_html"><div class="textwidget custom-html-widget"><a href="" style="font-size:13px; color: #ffffff; margin-bottom:5px;" rel="nofollow" target="_blank">Streetplace Official</a><a href="https://www.instagram.com/streetplace.cz"> <i class="fab fa-instagram" style="font-size:20px;color:white;margin-left:20px;"></i></a><a href="https://www.facebook.com/streetplace.cz/"> <i class="fab fa-facebook-square" style="font-size:20px;color:white;margin-left:20px;"></i></a></div></div>                </div>
                    </div>
    </div>
</div>    </footer>