
<div class="sidebaros">
    <div class="well bs-sidebar" id="sidebar">
        <div class="sidebar-header">
                    <h3>Filtry</h3>
        </div>

        <div class="sidebar_inside">
            <ul class="nav flex-column" style="text-align:left;margin-left:30px;margin-top:0px;font-size:20px;color:black;" >
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-tshirt"></i>
                    Kategorie
                </a>

                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="/listings/vse/1/{{ current_size }}">Vše</a></li>

                    {% for cat in categories %}
                        <li>
                            <a href="/listings/{{ cat }}/1/{{ current_size }}/">{{ cat }}</a>
                        </li>
                    {% endfor %}

                </ul>


                <a href="#seradit" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-sort-alpha-up"></i>
                    Seřadit od
                </a>

                <ul class="collapse list-unstyled" id="seradit">

                    <li><a href="/listings/{{ current_slug }}/1/{{ current_size }}/filter=nejlevnejsich">Od nejlevnejsich</a> </li>
                    <li><a href="/listings/{{ current_slug }}/1/{{ current_size }}/filter=nejdrazsich">Od nejdražších</a> </li>
                    <li><a href="/listings/{{ current_slug }}/1/{{ current_size }}/filter=nejstarsich/">Od nejstarších</a> </li>
                    <li><a href="/listings/{{ current_slug }}/1/{{ current_size }}/filter=nejnovejsich/">Od nejnovějších</a> </li>


                </ul>

                <a href="#velikost" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-ruler"></i>
                    Velikost
                </a>

                <ul class="collapse list-unstyled" id="velikost">

                    <li><a href="/listings/{{ current_slug }}/1/nevybrano/">Jakákoliv</a> </li>
                    <li><a href="/listings/{{ current_slug }}/1/S/">S</a> </li>
                    <li><a href="/listings/{{ current_slug }}/1/M/">M</a> </li>
                    <li><a href="/listings/{{ current_slug }}/1/L/">L</a> </li>
                    <li><a href="/listings/{{ current_slug }}/1/XL/">XL</a> </li>


                </ul>


                <p><a href="/listings/vse/1/nevybrano/"><button type="button" class="btn btn-warning" style="margin-top:20px">Vymazat filtry</button></a></p>
            </ul>
        </div>
    </div>
</div>

