dj-database-url==0.5.0
Django==1.11.2
django-appconf==1.0.2
django-braces==1.13.0
django-clever-selects==0.8.2
django-crispy-forms==1.7.2
django-filter==2.0.0
django-model-utils==3.1.2
django-private-chat==0.2.2
django-select2==6.3.1
django-widget-tweaks==1.4.3
gunicorn==19.9.0
multiuploader==0.1.3.1
Pillow==5.3.0
psycopg2==2.7.6.1
py-moneyed==0.8.0
python-magic==0.4.15
pytz==2018.7
sorl-thumbnail==12.5.0
websockets==3.2
