{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


{% include "snippets/nav.html"%}


<a id='edgtf-back-to-top' href='#'>
<span class="edgtf-icon-stack">
</span>
</a>
<div class="edgtf-content">
    <div class="edgtf-content-inner">
        <div class="edgtf-title-holder edgtf-breadcrumbs-type edgtf-title-full-width edgtf-title-va-header-bottom"
             style="height: 120px" data-height="120">
            <div class="edgtf-title-wrapper" style="height: 120px">
                <div class="edgtf-title-inner">
                    <div class="edgtf-grid">
                        <div itemprop="breadcrumb" class="edgtf-breadcrumbs "><a itemprop="url"
                                                                                 href="/listings/vse/1/nevybrano/">Nakupovat</a><span
                                class="edgtf-delimiter">&nbsp; / &nbsp;</span><a itemprop="url"
                                                                                 href="#">Procházet vše</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edgtf-full-width" style="padding:20px;">
            <div class="edgtf-full-width-inner">
                <div class="edgtf-grid-row">
                    <div class="edgtf-page-content-holder edgtf-grid-col-12">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1520413464033">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="edgtf-pl-holder edgtf-standard-layout edgtf-normal-space edgtf-six-columns edgtf-info-on-image    "
                                             data-type="standard" data-animated-list="no" data-animated-hover="no"
                                             data-info-position="info-on-image" data-number-of-posts="12"
                                             data-number-of-columns="6" data-space-between-items="normal"
                                             data-orderby="date" data-order="ASC" data-show-category-filter="no"
                                             data-show-all-item-in-filter="yes" data-taxonomy-to-display="category"
                                             data-taxonomy-values="fall-winter" data-image-size="square"
                                             data-display-title="yes" data-title-tag="h4" data-display-category="no"
                                             data-display-excerpt="no" data-excerpt-length="20" data-display-rating="no"
                                             data-display-price="yes" data-display-pattern="no"
                                             data-display-button="yes" data-button-skin="default"
                                             data-shader-background-color="rgba(255,255,255,0.8)" data-class-name="pli">
                                            <div class="edgtf-prl-loading">
                                                <span class="edgtf-prl-loading-msg">Loading...</span>
                                            </div>
                                            <div class="edgtf-pl-outer">

                                                {% for obj in obj_list %}
                                                <div class="edgtf-pli edgtf-item-space ">
                                                   <div class="edgtf-pli-outer">
                                                         <div class="edgtf-pli-inner" id="imidz-inner">
                                                             <div class="edgtf-pli-image">
                                                                <img id="imidz" width="200" height="200"
                                                                     src="{{obj.image.url}}"
                                                                     class="attachment-hyperon_edgtf_square size-hyperon_edgtf_square wp-post-image"
                                                                     srcset="{{obj.image.url}}"/></div>
                                                            <div class="edgtf-pli-text"
                                                                 style="background-color: rgba(255,255,255,0.8)">
                                                                <div class="edgtf-pli-text-outer">
                                                                    <div class="edgtf-pli-text-inner">
                                                                        <h4 itemprop="name"
                                                                            class="entry-title edgtf-pli-title">
                                                                            <a itemprop="url"
                                                                               href="/listings/{{obj.pk}}">{{obj}}</a>
                                                                        </h4>
                                                                        <h5>{% if obj.size %}Velikost:
                                                                            {{obj.size}}{%endif%}{%if obj.price%} cena:
                                                                            {{obj.price}}{%endif%}</h5>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a class="edgtf-pli-link" itemprop="url"
                                                               href="https://hyperon.edge-themes.com/product/red-hood-jacket/"
                                                               title="Red Hood Jacket"></a>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% endfor %}
                                            </div><div class="edgtf-woo-pagination-holder"><div class="edgtf-woo-pagination-inner"><nav class="woocommerce-pagination">
	<ul class='page-numbers'>Strana:
	{% for page in page_obj.paginator.page_range %} {% if page == page_obj.number %}
	<li><span aria-current='page' class='page-numbers current'><a class="page-link" href="#">{{ page }}</a></span></li>
	{% else %}
	<li><a class='page-numbers' href='/listings/everything/{{ page }}/'>{{ page }}</a></li>
	{% endif %} {% endfor %}

</ul>
</nav>
</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                  </div></div>
</div>
<br>
{% include 'snippets/footer.html' %}

{% include 'snippets/script.html' %}

{% endblock %}