{% extends "base.html" %}


{% load staticfiles %}
{% load i18n %}
{% block content %}
{% language 'cs' %}


<body class="product-template-default single single-product postid-3907 edgtf-core-1.0 woocommerce woocommerce-page hyperon-ver-1.0 edgtf-grid-1200 edgtf-fixed-on-scroll edgtf-dropdown-animate-height edgtf-header-standard edgtf-menu-area-shadow-disable edgtf-menu-area-in-grid-shadow-disable edgtf-menu-area-border-disable edgtf-menu-area-in-grid-border-disable edgtf-logo-area-border-disable edgtf-header-vertical-shadow-disable edgtf-header-vertical-border-disable edgtf-side-menu-slide-from-right edgtf-woocommerce-page edgtf-woo-single-page edgtf-woocommerce-columns-3 edgtf-woo-normal-space edgtf-woo-pl-info-below-image edgtf-woo-single-thumb-below-image edgtf-woo-single-has-pretty-photo edgtf-default-mobile-header edgtf-sticky-up-mobile-header edgtf-fullscreen-search edgtf-search-fade wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
      itemscope itemtype="http://schema.org/WebPage">
<section class="edgtf-side-menu">
    <div class="edgtf-close-side-menu-holder">
        <a class="edgtf-close-side-menu edgtf-close-side-menu-svg-path" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.081px" height="17.735px" viewBox="0 0 22.081 17.735" enable-background="new 0 0 22.081 17.735" xml:space="preserve">
<polygon points="4.375,17.735 22.081,0 17.789,0 0,17.735 " />
<polygon points="17.705,17.735 0,0 4.292,0 22.081,17.735 " />
</svg>
        </a>
    </div>
    <div class="widget edgtf-separator-widget">
        <div class="edgtf-separator-holder clearfix  edgtf-separator-center">
            <div class="edgtf-separator" style="color: #ffffff;margin-top: 45px">
                <svg x="0px" y="0px" width="65px" height="3px" viewBox="0 0 65 3" enable-background="new 0 0 65 3" xml:space="preserve">
<g>
<polygon class="edgtf-polygon edgtf-polygon-1" points="0,0 16.021,0 12.958,3 0,3 " />
<polygon class="edgtf-polygon edgtf-polygon-2" points="16.268,3 19.299,0 29.562,0 26.5,3 " />
<polygon class="edgtf-polygon edgtf-polygon-3" points="29.969,3 33,0 40,0 37.031,3 " />
<polyline class="edgtf-polygon edgtf-polygon-4" points="41.031,3 44,0 49.031,0 46.031,3 " />
<polygon class="edgtf-polygon edgtf-polygon-5" points="50.969,3 54.031,0 58.031,0 55,3 " />
<polygon class="edgtf-polygon edgtf-polygon-6" points="59.96,3 62.96,0 65,0 61.992,3 " />
</g>
</svg>
            </div>
        </div>
    </div>

    <div id="edgtf_instagram_widget-6" class="widget edgtf-sidearea widget_edgtf_instagram_widget">
        <ul class="edgtf-instagram-feed clearfix edgtf-col-3 edgtf-instagram-gallery edgtf-tiny-space">
            <li>
                <a href="https://www.instagram.com/p/Bf8f_qAgOjn/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/d4e1d476574d0f7b301d16df8ea0e6e7/5DE96027/t51.2885-15/e35/28155923_573088169732076_3550334672565174272_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8f9zhAUVC/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/e279b71737e7371c14086ffd901d8b04/5DD74836/t51.2885-15/e35/28432589_579897699041976_7787560144769908736_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8f5_0g8aH/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/3fee0ab112b77ca0eec05fe6de9ce1c7/5DE0443B/t51.2885-15/e35/28428643_356588078189644_3471710962589892608_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8f3sOAr0L/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/cf662d793ec173e7948497cb3247170f/5DD5A64C/t51.2885-15/e35/28155913_2408081782551091_1069149700801691648_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8f0s6A9oz/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/0fb44f402372425d041d76f863bfae64/5DDC71D3/t51.2885-15/e35/28436223_1625257334220956_8618578102559178752_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8fvs5Alc3/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/a0e1ad42d31a7e8b23dd4ea69b86baf3/5DE9BCA0/t51.2885-15/e35/28433896_683514592038942_8924365884110143488_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8ftEZA7XR/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/6b715bfd91a6980b353267d1f52dc269/5DD53880/t51.2885-15/e35/28428103_2090118434541911_1071684302736982016_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8fVYJAFAe/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/a8ec5153515e1675584425f82a9af987/5DEC4133/t51.2885-15/e35/28155968_153780441987256_3628144563547275264_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/Bf8fTLKAyB2/" target="_blank">
                    <img class="standard_resolution"
                         src="https://scontent.cdninstagram.com/vp/58225e7c28b48ecdd85e50099244f56b/5DD95667/t51.2885-15/e35/28155270_162415311234875_6451454707280904192_n.jpg?_nc_ht=scontent.cdninstagram.com"
                         alt="" width="640" height="640"/> </a>
            </li>
        </ul>
    </div>
    <div class="widget edgtf-separator-widget">
        <div class="edgtf-separator-holder clearfix  edgtf-separator-center">
            <div class="edgtf-separator" style="color: #ffffff;margin-top: 50px">
                <svg x="0px" y="0px" width="65px" height="3px" viewBox="0 0 65 3" enable-background="new 0 0 65 3" xml:space="preserve">
<g>
<polygon class="edgtf-polygon edgtf-polygon-1" points="0,0 16.021,0 12.958,3 0,3 " />
<polygon class="edgtf-polygon edgtf-polygon-2" points="16.268,3 19.299,0 29.562,0 26.5,3 " />
<polygon class="edgtf-polygon edgtf-polygon-3" points="29.969,3 33,0 40,0 37.031,3 " />
<polyline class="edgtf-polygon edgtf-polygon-4" points="41.031,3 44,0 49.031,0 46.031,3 " />
<polygon class="edgtf-polygon edgtf-polygon-5" points="50.969,3 54.031,0 58.031,0 55,3 " />
<polygon class="edgtf-polygon edgtf-polygon-6" points="59.96,3 62.96,0 65,0 61.992,3 " />
</g>
</svg>
            </div>
        </div>
    </div>
</section>
<div class="edgtf-wrapper">
    <div class="edgtf-wrapper-inner">


        {% include "snippets/nav.html" %}

        <a id='edgtf-back-to-top' href='#'>
<span class="edgtf-icon-stack">
</span>
        </a>
        <div class="edgtf-content">
            <div class="edgtf-content-inner">
                <div class="edgtf-title-holder edgtf-breadcrumbs-type edgtf-title-va-header-bottom"
                     style="height: 120px" data-height="120">
                    <div class="edgtf-title-wrapper" style="height: 120px">
                        <div class="edgtf-title-inner">
                            <div class="edgtf-grid">
                                <div itemprop="breadcrumb" class="edgtf-breadcrumbs "><a itemprop="url"
                                                                                         href="/">Domů</a><span
                                        class="edgtf-delimiter">&nbsp; / &nbsp;</span><a itemprop="url"
                                                                                         href="/listings/vse/1/nevybrano/">Nakupovat</a><span
                                        class="edgtf-delimiter">&nbsp; / &nbsp;</span><span
                                        class="edgtf-current">{{object}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edgtf-container">
                    <div class="edgtf-container-inner clearfix">
                        <div id="product-3907"
                             class="post-3907 product type-product status-publish has-post-thumbnail product_cat-new-arrivals product_tag-gray product_tag-jacket product_tag-man product_tag-military product_tag-winter first instock shipping-taxable product-type-external">
                            <div class="edgtf-single-product-content">
                                <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-3 images"
                                     data-columns="3" style="opacity: 0; transition: opacity .25s ease-in-out;">
                                    <figure class="woocommerce-product-gallery__wrapper">
                                        {% for x in object.images_set.all %}
                                        {% if forloop.counter == 1 %}
                                        <div data-thumb="{{x.images.url}}"
                                             class="woocommerce-product-gallery__image"><a
                                                href="{{x.images.url}}"><img
                                                width="600" height="598" src="{{x.images.url}}"
                                                class="wp-post-image" alt="a" title=""
                                                data-caption="" data-src="{{x.images.url}}"
                                                data-large_image="{{x.images.url}}" data-large_image_width="602"
                                                data-large_image_height="600"/></a></div>
                                        {% endif %}
                                        {% if forloop.counter != 1 %}
                                        <div data-thumb="{{x.images.url}}"
                                             class="woocommerce-product-gallery__image"><a
                                                href="{{x.images.url}}"><img
                                                width="300" height="300"
                                                src="{{x.images.url}}"
                                                id="smallimg"
                                                alt="s" title="mainhome-shopitem-img2a" data-caption=""
                                                data-src="{{x.images.url}}"
                                                data-large_image="{{x.images.url}}"
                                                data-large_image_width="602" data-large_image_height="600"
                                                sizes="(max-width: 300px) 100vw, 300px"/></a></div>
                                        {% endif %}


                                        {% empty %}
                                        <img src="{% static 'personal/img/no_image.png' %}" width="500px"
                                             style="height:575px">
                                        {% endfor %}
                                    </figure>
                                </div>
                                <div class="edgtf-single-product-summary">
                                    <div class="summary entry-summary">
                                        <h2 itemprop="name" class="edgtf-single-product-title">{{object}}</h2>
                                        <p class="price"><span
                                                class="woocommerce-Price-amount amount">{% if object.price %}{{object.price}}<span
                                                class="woocommerce-Price-currencySymbol">Kč</span>{% else %}Cena dohodou{%endif%}</span>
                                        </p>
                                        <div class="woocommerce-product-rating">
                                            {% for x in profile %}
                                            {% if x.user == object.owner %}
                                            <a href="/profiles/{{ object.owner }}/"><img alt='' src='{{ x.image.url }}'
                                                                                         class='profpic' height='60'
                                                                                         width='60'/></a>
                                            {% endif %}
                                            {% endfor %}

                                            {% if rating > 0 %}
                                            <div class="star-rating" style="margin-top:-45px;margin-left:5px;"><span
                                                    style="width:{{ rating }}%"></span>

                                            </div>
                                            <p class="">Přidal <a href="/profiles/{{object.owner}}/"> <b>{{object.owner.first_name}} {{object.owner.last_name}}</b></a></p>

                                            {% else %}<p class="">Přidal <a href="/profiles/{{object.owner}}/"> <b>{{object.owner.first_name}} {{object.owner.last_name}}</b></a> <i>(zatím bez hodnocení)</i></p>    {% endif %}


                                            <div class="woocommerce-product-details__short-description">
                                                {% if object.description %}{{object.description}}{% else %}Uživatel nepřidal popisek.{% endif %}
                                                <p style="font-weight:bold;color:red;margin-top:15px;">{% if reports > 4 %}Opatrně! Tento produkt byl nahlášen už {{reports}}krát!{% endif %}</p>
                                            </div>

                                            {% if request.user != object.owner %}
                                            {% if request.user.is_authenticated %}<p class="cart">
                                                <a href="javascript:ScrollFunction()"
                                                   rel="nofollow" class="single_add_to_cart_button button alt">kontaktovat
                                                    vlastníka</a></p>{% endif %}
                                            <br>
                                            <p>
                                                <a href="/listings/{{object.pk}}/report/"
                                                   rel="nofollow" class="single_add_to_cart_button button alt">nahlásit
                                                    zboží</a>
                                            </p>
                                            {% else %}
                                            <p class="cart">
                                                <a href="proc/"
                                                   rel="nofollow"
                                                   class="single_add_to_cart_button button alt">Smazat</a>

                                                <a href="update/"
                                                   rel="nofollow"
                                                   class="single_add_to_cart_button button alt">Upravit</a>
                                            </p>
                                            {% endif %}
                                            <div class="clear"></div>
                                            <div class="product_meta">
                                                <span class="sku_wrapper">Velikost: <span
                                                        class="sku">{% if object.size %}{{object.size}}{% else %}nezadáno{% endif %}</span></span>
                                                <span class="sku_wrapper">Stav: <span
                                                        class="sku">{{object.condition}}</span></span>
                                                <span class="posted_in">Kategorie: <a
                                                        href="/listings/{{object.category}}/1/nevybrano/"
                                                        rel="tag">{{object.category}}</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="woocommerce-tabs wc-tabs-wrapper" id="kontaktovat" >
                                    <ul class="tabs wc-tabs" role="tablist" >
                                        {% if request.user.is_authenticated %}<li class="contact_tab" id="tab-title-contact"
                                            role="tab" aria-controls="tab-contact">
                                            <a href="#tab-contact">Kontaktovat</a>
                                        </li>{% endif %}
                                        <li class="description_tab" id="tab-title-description" role="tab"
                                            aria-controls="tab-description">
                                            <a href="#tab-description">Popis</a>
                                        </li>
                                        <li class="additional_information_tab" id="tab-title-additional_information"
                                            role="tab" aria-controls="tab-additional_information">
                                            <a href="#tab-additional_information">Další informace</a>
                                        </li>

                                    </ul>
                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab"
                                         id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

                                        <h2>Description</h2>

                                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1517826341326">
                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                <div class="vc_column-inner ">
                                                    <div class="wpb_wrapper">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>{% if object.description %}{{object.description}}{%else%}Uživatel nepřidal žádný popisek.{%endif%}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab"
                                         id="tab-additional_information" role="tabpanel"
                                         aria-labelledby="tab-title-additional_information">

                                        <h2>Additional information</h2>

                                        <table class="shop_attributes">

                                            <tr>
                                                <th>Velikost</th>
                                                <td class="product_dimensions">{% if object.size %}{{object.size}}{% else %}nezadáno{% endif %}</td>
                                            </tr>

                                            <tr>
                                                <th>Stav</th>
                                                <td class="product_dimensions">{{object.condition}}</td>
                                            </tr>

                                            <tr>
                                                <th>Přidáno</th>
                                                <td class="product_dimensions">před {{object.created|timesince }}</td>
                                            </tr>

                                            {% if object.predani %}
                                            <tr>
                                                <th>Způsob předání</th>
                                                <td class="product_dimensions">{% if object.predani %}{{object.predani}}{% else %}nezadáno{% endif %}</td>
                                            </tr>
                                            {% endif %}

                                            {% if reports %}
                                            <tr>
                                                <th>Nahlášeno</th>
                                                <td class="product_dimensions">{{reports}}krát</td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--contact panel entry-content wc-tab"
                                         id="tab-contact" role="tabpanel"
                                         aria-labelledby="tab-title-contact">

                                        <h2>Kontakt</h2>

                                        {% if request.user %}
                                                                <form method="post" action="{% url 'message-form' object.pk %}">
                                                                    {% csrf_token %}
                                                                    <p><textarea name="text" cols="20" rows="3" class="description">Dobrý den, mám zájem o {{object}}.</textarea></p>
                                                                    <button type="submit">Odeslat</button>
                                                                    <a href="chat/{{obj.owner}}/" class="single_add_to_cart_button button alt">Přejít do přímo chatu</a>
                                                                </form>
                                                                {% endif %}
                                    </div>


                                </div>


                                <section class="related products">
                                    {% if owners_products_len > 2 %}
                                    <h2>Další zboží od {{object.owner.first_name}} {{object.owner.last_name}}</h2>
                                    <ul class="products columns-4" id="rel_products">
                                        {% for obj in owners_products %}
                                        <li class="post-4659 product type-product status-publish has-post-thumbnail product_cat-outdoor product_cat-spring-summer product_tag-chill product_tag-gray product_tag-jacket product_tag-spring first instock shipping-taxable purchasable product-type-simple">
                                            <div class="edgtf-pl-inner">
                                                <div class="edgtf-pl-image" id="rel_pic_div"><img width="300"
                                                                                                  height="300"
                                                                                                  src="{{obj.image.url}}"
                                                                                                  id="rel_pic"
                                                                                                  alt="n"
                                                                                                  sizes="(max-width: 300px) 100vw, 300px"/>
                                                    <div class="edgtf-pl-text">
                                                             <a href="/listings/{{obj.pk}}/"><div class="edgtf-pl-text-outer">
                                                                <div class="edgtf-pl-text-inner">
                                                                    <div class="edgtf-pl-button-holder">

                                                                    </div>
                                                                </div>
                                                            </div></a>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="edgtf-pl-text-wrapper" id="rel_products_text"><h4
                                                    class="edgtf-product-list-title"><a
                                                    href="/listings/{{obj.pk}}/">{{obj}}</a></h4>
                                                <span class="price"><span class="woocommerce-Price-amount amount">{% if obj.price %}{{obj.price}}<span class="woocommerce-Price-currencySymbol">Kč</span>{% else %}Cena dohodou{% endif %}</span></span>
                                            </div>
                                            <a href="#" class="button yith-wcqv-button" data-product_id="4659">Quick
                                                View</a></li>
                                        {% endfor %}
                                        {% else %}
                                        <h2>Podobné zboží</h2>
                                        <ul class="products columns-4" id="rel_products">
                                            {% for obj in related_products %}
                                            <li class="post-4659 product type-product status-publish has-post-thumbnail product_cat-outdoor product_cat-spring-summer product_tag-chill product_tag-gray product_tag-jacket product_tag-spring first instock shipping-taxable purchasable product-type-simple">
                                                <div class="edgtf-pl-inner">
                                                    <div class="edgtf-pl-image" id="rel_pic_div"><img width="300"
                                                                                                      height="300"
                                                                                                      src="{{obj.image.url}}"
                                                                                                      id="rel_pic"
                                                                                                      alt="n"
                                                                                                      sizes="(max-width: 300px) 100vw, 300px"/>
                                                        <div class="edgtf-pl-text">
                                                             <a href="/listings/{{obj.pk}}/"><div class="edgtf-pl-text-outer">
                                                                <div class="edgtf-pl-text-inner">
                                                                    <div class="edgtf-pl-button-holder">

                                                                    </div>
                                                                </div>
                                                            </div></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="edgtf-pl-text-wrapper" id="rel_products_text"><h4
                                                        class="edgtf-product-list-title"><a
                                                        href="/listings/{{obj.pk}}/">{{obj}}</a></h4>
                                                <span class="price"><span class="woocommerce-Price-amount amount">{% if obj.price %}{{obj.price}}<span class="woocommerce-Price-currencySymbol">Kč</span>{% else %}Cena dohodou{% endif %}</span></span>

                                                </div>
                                                <a href="#" class="button yith-wcqv-button" data-product_id="4659">Quick
                                                    View</a></li>
                                            {% endfor %}
                                            {% endif %}

                                        </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           {% include 'snippets/footer.html' %}

        </div>
    </div>

    <div class="rbt-toolbar" data-theme="Streetplace" data-featured="" data-button-position="55%"
         data-button-horizontal="right"
         data-button-alt="no"></div>


    <script type='text/javascript'>
/* <![CDATA[ */
var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"","zoom_options":[],"photoswipe_enabled":"","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":""};
/* ]]> */


    </script>
    <script src="https://hyperon.edge-themes.com/wp-content/cache/minify/eeff5.js"></script>

<script>
function ScrollFunction() {

document.getElementById("kontaktovat").scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});

}
</script>

{% include 'snippets/script.html' %}

{% endlanguage %}
{% endblock %}